name: moon_phase
description: Flutter plugin that creates moon widgets according to the moon's phase. 
version: 1.0.0+4
homepage: https://github.com/enoosoft/moon_phase

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^1.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.enoo.moon_phase
        pluginClass: MoonPhasePlugin
      ios:
        pluginClass: MoonPhasePlugin
      web:
        pluginClass: MoonPhaseWeb
        fileName: moon_phase_web.dart
